* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    margin: auto;

}

nav ul {
    display: flex;
    width: 600px;
    margin: auto;
}

nav p {
    width: 600px;
    margin: 2px auto 2px auto;
    text-align: center;
    background: darkseagreen;
}

nav ul li {
    display: flex;
    width: 600px;
    margin: auto;
    padding: 10px 0px 10px 0px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

nav ul li:hover {
    text-decoration: none;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

nav ul li:active {
    text-decoration: none;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

nav ul li a {
    width: 150px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: auto;
}

nav ul li a:hover {
    width: 150px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

article {
    width: 600px;
    margin: 2px auto 2px auto;
    background: salmon;
    text-align: center;
    color: white;
}

footer {
    width: 600px;
    margin: auto;
}

.post {
    display: inherit;
    margin-top: 5px;
    padding: 10px 50px 10px 50px;
    border: 1px solid black;
    word-wrap: break-word;
}

.pager {
    width: 100%;
    text-align: center;
}

.pager a {
    display: inline-block;
    padding: 01px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.pager a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.pager .active {
    text-decoration: none;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.registration {
    text-align: center;
}

.registration p {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}

.login {
    text-align: center;
}

.login p {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}

.addpost {
    text-align: center;
}

.addpost p {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}

.userEdit {
    text-align: center;
}

.userEdit p {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}

.postEdit {
    text-align: center;
}

.postEdit p {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}